In [1]:
a = 2024
print(a)

2024

In [3]:
birth = 2018

In [4]:
print(2024 - birth)

6

In [5]:
print(2024 - int(birth))

6

In [6]:
name = input('이름을 입력하세요')

이름을 입력하세요박정수

In [7]:
birth = input('출생 년도를 입력하세요')

출생 년도를 입력하세요2002

In [8]:
name = input('이름을 입력하세요')
birth = input('출생 년도를 입력하세요')
age = 2022-int(birth)
print('안녕하세요' + name + '님!'+ str(age) + '세이군요~!')

이름을 입력하세요박정수
출생 년도를 입력하세요2002
안녕하세요박정수님!20세이군요~!

In [9]:
bool(0.01)

True

In [10]:
bool('')

False

In [13]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [16]:
test_score = [80,70,90,100]
for score in test_score:
    print(score)

80
70
90
100

In [19]:
test_name = ['국어', '영어', '수학', '과학']
for name in test_name:
    print(name)

국어
영어
수학
과학

In [20]:
if (10>0):
    print('안녕하세요!')

안녕하세요!

In [21]:
password = input('입력하세요: ')
if(int(password) == 12345):
    print('로그인 되었습니다')

입력하세요: 12345
로그인 되었습니다

In [22]:
arr2 = ['월', '화', '수','목','금','토']
print(arr2[0])
print(arr2[1])
print(arr2[2])
print(arr2[3])
print(arr2[4])
print(arr2[5])

월
화
수
목
금
토

In [ ]:
number1 = input('숫자를 입력하세요')
number2 = input('숫자를 입력하세요')
if (number1 > number2):
    print(number1)
if (number1 == number2):
    print(number1)
else:
    print(number2)